<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8" /> 
    <title>My test page</title> 
  </head> 
  <body> 
    <p>This is my page</p> 
    {{les_labels_des_iris}}   

    <ul> 
    {% for irisclass in les_labels_des_iris %} 
        <li>{{ irisclass }}</li> 
    {% endfor %} 
    <ul> 

    <label for="model-select">Choose a Model:</label> 

    <form action="apply_Model"> 
    <label for="model-select">Choose a model:</label> 
        <select name="model" id="model-select" onchange='if(this.value != 0) {this.form.submit();}’> 
            <option value="0">--Please choose a model--</option> 
            <option value="KNN">Knn</option> 
            <option value="KMeans">KMeans</option> 
        </select> 
    </form> 

       {{plot_html|safe}} 
       
  </body> 

</html> 